{
    "run_params": "{{ run_params }}",
    "run_number": {{ run_number }},
    "detector": "{{ detector }}",
    "steering_files": {
        "overlay": "{{ overlay }}",
	"readout": "{{ readout }}",
	"recon": "{{ recon }}"
    },
    "year": {{ year }},
    "input_files": {
        "/fs/ddn/sdf/group/hps/mc/tritrig/slic/{{ run_params }}/{{ target_and_current }}/{{ detector }}/tritrig_3pt74_20um120nA_rot_{{ job_id*10-9 }}.slcio": "signal_1.slcio",
        "/fs/ddn/sdf/group/hps/mc/tritrig/slic/{{ run_params }}/{{ target_and_current }}/{{ detector }}/tritrig_3pt74_20um120nA_rot_{{ job_id*10-8 }}.slcio": "signal_2.slcio",
        "/fs/ddn/sdf/group/hps/mc/tritrig/slic/{{ run_params }}/{{ target_and_current }}/{{ detector }}/tritrig_3pt74_20um120nA_rot_{{ job_id*10-7 }}.slcio": "signal_3.slcio",
        "/fs/ddn/sdf/group/hps/mc/tritrig/slic/{{ run_params }}/{{ target_and_current }}/{{ detector }}/tritrig_3pt74_20um120nA_rot_{{ job_id*10-6 }}.slcio": "signal_4.slcio",
	"/fs/ddn/sdf/group/hps/mc/tritrig/slic/{{ run_params }}/{{ target_and_current }}/{{ detector }}/tritrig_3pt74_20um120nA_rot_{{ job_id*10-5 }}.slcio": "signal_5.slcio",
	"/fs/ddn/sdf/group/hps/mc/tritrig/slic/{{ run_params }}/{{ target_and_current }}/{{ detector }}/tritrig_3pt74_20um120nA_rot_{{ job_id*10-4 }}.slcio": "signal_6.slcio",
        "/fs/ddn/sdf/group/hps/mc/tritrig/slic/{{ run_params }}/{{ target_and_current }}/{{ detector }}/tritrig_3pt74_20um120nA_rot_{{ job_id*10-3 }}.slcio": "signal_7.slcio",
        "/fs/ddn/sdf/group/hps/mc/tritrig/slic/{{ run_params }}/{{ target_and_current }}/{{ detector }}/tritrig_3pt74_20um120nA_rot_{{ job_id*10-2 }}.slcio": "signal_8.slcio",
        "/fs/ddn/sdf/group/hps/mc/tritrig/slic/{{ run_params }}/{{ target_and_current }}/{{ detector }}/tritrig_3pt74_20um120nA_rot_{{ job_id*10-1 }}.slcio": "signal_9.slcio",
        "/fs/ddn/sdf/group/hps/mc/tritrig/slic/{{ run_params }}/{{ target_and_current }}/{{ detector }}/tritrig_3pt74_20um120nA_rot_{{ job_id*10 }}.slcio": "signal_10.slcio",
        "/fs/ddn/sdf/group/hps/mc/beam/cnv/2021/14229/hps_rndm_014229_{{ job_id % 20 + 1}}.slcio": "pulser.slcio",
	"/fs/ddn/sdf/group/hps/mc/beam/cnv/2021/14229/hps_rndm_014229_{{ job_id % 20 + 2}}.slcio": "pulser2.slcio"
    },
    "output_files": {
        "signal_pulser_spaced.slcio": "tritrig_pulser_{{ run_params }}_double_bkg_{{ target_and_current }}_{{ detector }}_{{ job_id }}.slcio",
	"signal_pulser_readout.slcio": "readout/tritrig_pulser_readout_{{ run_params }}_double_bkg_{{ target_and_current }}_{{ detector }}_{{ job_id }}.slcio",
	"signal_pulser_recon.slcio": "recon/tritrig_pulser_recon_{{ run_params }}_double_bkg_{{ target_and_current }}_{{ detector }}_{{ job_id }}.slcio"
    },
    "output_dir": "/fs/ddn/sdf/group/hps/mc/tritrig_beam/{{ run_params }}/double_bkg/{{ target_and_current }}/{{ detector }}"
}
