{
    "detector": "{{ detector }}",
    "run_number": {{ run_number }},
    "steering_files": {
        "recon": "{{ evio_to_lcio }}"
    },
    "is_data": 1,
    "year": {{ year }},
    "input_files": {
        "{{ input_files['beam'][0] }}": "data_events.evio",
	"{{ input_files['beam'][1] }}": "data_events1.evio",
	"{{ input_files['beam'][2] }}": "data_events2.evio",
	"{{ input_files['beam'][3] }}": "data_events3.evio",
	"{{ input_files['beam'][4] }}": "data_events4.evio",
	"{{ input_files['beam'][5] }}": "data_events5.evio",
	"{{ input_files['beam'][6] }}": "data_events6.evio",
	"{{ input_files['beam'][7] }}": "data_events7.evio",
	"{{ input_files['beam'][8] }}": "data_events8.evio",
	"{{ input_files['beam'][9] }}": "data_events9.evio",
	"{{ input_files['beam'][10] }}": "data_events10.evio",
	"{{ input_files['beam'][11] }}": "data_events11.evio",
	"{{ input_files['beam'][12] }}": "data_events12.evio",
	"{{ input_files['beam'][13] }}": "data_events13.evio",
	"{{ input_files['beam'][14] }}": "data_events14.evio",
	"{{ input_files['beam'][15] }}": "data_events15.evio",
	"{{ input_files['beam'][16] }}": "data_events16.evio",
	"{{ input_files['beam'][17] }}": "data_events17.evio",
	"{{ input_files['beam'][18] }}": "data_events18.evio",
	"{{ input_files['beam'][19] }}": "data_events19.evio",
	"{{ input_files['beam'][20] }}": "data_events20.evio",
	"{{ input_files['beam'][21] }}": "data_events21.evio",
	"{{ input_files['beam'][22] }}": "data_events22.evio",
	"{{ input_files['beam'][23] }}": "data_events23.evio",
	"{{ input_files['beam'][24] }}": "data_events24.evio",
	"{{ input_files['beam'][25] }}": "data_events25.evio",
	"{{ input_files['beam'][26] }}": "data_events26.evio",
	"{{ input_files['beam'][27] }}": "data_events27.evio",
	"{{ input_files['beam'][28] }}": "data_events28.evio",
	"{{ input_files['beam'][29] }}": "data_events29.evio",
	"{{ input_files['beam'][30] }}": "data_events30.evio",
	"{{ input_files['beam'][31] }}": "data_events31.evio",
	"{{ input_files['beam'][32] }}": "data_events32.evio",
	"{{ input_files['beam'][33] }}": "data_events33.evio",
	"{{ input_files['beam'][34] }}": "data_events34.evio",
	"{{ input_files['beam'][35] }}": "data_events35.evio",
	"{{ input_files['beam'][36] }}": "data_events36.evio",
	"{{ input_files['beam'][37] }}": "data_events37.evio",
	"{{ input_files['beam'][38] }}": "data_events38.evio",
	"{{ input_files['beam'][39] }}": "data_events39.evio",
	"{{ input_files['beam'][40] }}": "data_events40.evio",
	"{{ input_files['beam'][41] }}": "data_events41.evio",
	"{{ input_files['beam'][42] }}": "data_events42.evio",
	"{{ input_files['beam'][43] }}": "data_events43.evio",
	"{{ input_files['beam'][44] }}": "data_events44.evio",
	"{{ input_files['beam'][45] }}": "data_events45.evio",
	"{{ input_files['beam'][46] }}": "data_events46.evio",
	"{{ input_files['beam'][47] }}": "data_events47.evio",
	"{{ input_files['beam'][48] }}": "data_events48.evio",
	"{{ input_files['beam'][49] }}": "data_events49.evio"
    },
    "output_files": {
        "data_events1.slcio": "hps_rndm_{{ run_number }}_{{ job_id }}.slcio"
    },
    "output_dir": "/fs/ddn/sdf/group/hps/mc/beam/cnv/{{ year }}/{{ run_number }}"
}
