{% set num = (job_id - 1)/250 %}
{% set dir_num = num | int %}
{
    "run_params": "{{ run_params }}",
    "run_number": {{ run_number }},
    "detector": "{{ detector }}",
    "steering_files": {
        "evio_to_lcio": "/org/hps/steering/production/Evio2LcioCnv.lcsim",
        "overlay": "/org/hps/steering/readout/Overlay.lcsim",
        "readout": "/org/hps/steering/readout/PhysicsRun2021TrigSinglesWithPulserDataMerging.lcsim",
        "recon": "/org/hps/steering/recon/PhysicsRun2021MCRecon_KF_WithSpacing_pass5_physics_HitSmear_HitKill_14272.lcsim"
    },
    "config_files": {
        "cnv": "recoTuple_cfg.py",
        "ana": "flatVtxTuple_cfg.py"
    },
    "is_data": 0,
    "year": 2021,
    "input_files": {
        "/sdf/data/hps/physics2021/mc/gen/tritrig/pass5_v9/{{ detector }}/slic/{{ dir_num + 1 }}/tritrig_{{ run_params }}_mom_rot_{{ (job_id * 8) - 7 }}.slcio": "signal_1.slcio",
        "/sdf/data/hps/physics2021/mc/gen/tritrig/pass5_v9/{{ detector }}/slic/{{ dir_num + 1 }}/tritrig_{{ run_params }}_mom_rot_{{ (job_id * 8) - 6 }}.slcio": "signal_2.slcio",
        "/sdf/data/hps/physics2021/mc/gen/tritrig/pass5_v9/{{ detector }}/slic/{{ dir_num + 1 }}/tritrig_{{ run_params }}_mom_rot_{{ (job_id * 8) - 5 }}.slcio": "signal_3.slcio",
        "/sdf/data/hps/physics2021/mc/gen/tritrig/pass5_v9/{{ detector }}/slic/{{ dir_num + 1 }}/tritrig_{{ run_params }}_mom_rot_{{ (job_id * 8) - 4 }}.slcio": "signal_4.slcio",
        "/sdf/data/hps/physics2021/mc/gen/tritrig/pass5_v9/{{ detector }}/slic/{{ dir_num + 1 }}/tritrig_{{ run_params }}_mom_rot_{{ (job_id * 8) - 3 }}.slcio": "signal_5.slcio",
        "/sdf/data/hps/physics2021/mc/gen/tritrig/pass5_v9/{{ detector }}/slic/{{ dir_num + 1 }}/tritrig_{{ run_params }}_mom_rot_{{ (job_id * 8) - 2 }}.slcio": "signal_6.slcio",
        "/sdf/data/hps/physics2021/mc/gen/tritrig/pass5_v9/{{ detector }}/slic/{{ dir_num + 1 }}/tritrig_{{ run_params }}_mom_rot_{{ (job_id * 8) - 1 }}.slcio": "signal_7.slcio",
        "/sdf/data/hps/physics2021/mc/gen/tritrig/pass5_v9/{{ detector }}/slic/{{ dir_num + 1 }}/tritrig_{{ run_params }}_mom_rot_{{ (job_id * 8) }}.slcio": "signal_8.slcio",
        "{{ input_files['pulser'][0] }}": "pulser.evio"
    },
    "output_files": {
        "pulser.slcio": "gen/pulser/pass_v9/14590/{{ detector }}/pulser_{{ job_id }}.slcio",
        "signal_pulser_readout.slcio": "readout/tritrig_pulser/pass5_v9/{{ detector }}/tritrig_pulser_{{job_id}}.slcio",
        "signal_pulser_recon.slcio": "recon/tritrig_pulser/pass5_v9/{{detector}}/tritrig_pulser_{{job_id}}.slcio",
        "signal_pulser_recon.root": "hpstr/tritrig_pulser/pass5_v9/{{detector}}/tritrig_pulser_{{job_id}}.root"
    },
    "output_dir": "/sdf/data/hps/physics2021/mc/"
}
