{% set num = (job_id - 1)/2000 %}
{% set dir_num = num | int %}
{
    "run_number": {{ run_number }},
    "bunches": {{ bunches }},
    "nevents": {{ nevents }},
    "seed": {{ 42 + job_id }},
    "run_params": "{{ run_params }}",
    "target_thickness": {{ target_thickness }},
    "beam_energy": {{ beam_energy }},
    "num_electrons": {{ num_electrons }},
    "target_x": {{ target_x }},
    "target_y": {{ target_y }},
    "target_z": {{ target_z }},
    "beam_sigma_x": {{ beam_sigma_x }},
    "beam_sigma_y": {{ beam_sigma_y }},
    "beam_rot_x": {{ beam_rot_x }},
    "beam_rot_y": {{ beam_rot_y }},
    "beam_rot_z": {{ beam_rot_z }},
    "detector": "{{ detector }}",
    "input_files": {
	"/sdf/data/hps/physics2021/mc/gen/rad/lhe/rad_{{ run_params }}_{{ job_id }}.lhe.gz": "RAD_unweighted_events.lhe.gz"
    },
    "output_files": {
	"rad_mom_rot.slcio": "pass_v8beta/{{ detector }}/slic/{{ dir_num + 1 }}/rad_{{ run_params }}_mom_rot_{{ job_id }}.slcio"
    },
    "output_dir": "/sdf/data/hps/physics2021/mc/gen/rad/"
}
