{
    "run_params": "{{ run_params }}",
    "run_number": {{ run_number }},
    "detector": "{{ detector }}",
    "steering_files": {
        "evio_to_lcio": "/org/hps/steering/production/Evio2LcioCnv.lcsim",
        "overlay": "/org/hps/steering/readout/Overlay.lcsim",
        "readout": "/org/hps/steering/readout/PhysicsRun2021TrigSinglesWithPulserDataMerging.lcsim",
        "recon": "/org/hps/steering/recon/PhysicsRun2021MCRecon_KF_WithSpacing_pass5_physics_HitSmear_HitKill_14272.lcsim"
    },
    "config_files": {
        "cnv": "recoTuple_cfg.py",
        "ana": "flatVtxTuple_cfg.py"
    },
    "is_data": 0,
    "year": 2021,
    "input_files": {
        "/sdf/data/hps/physics2021/mc/readout/rad_pulser/pass5_v9/{{ detector }}/rad_pulser_{{ job_id }}.slcio": "signal_pulser.slcio"
    },
    "output_files": {
        "signal_pulser_recon.slcio": "recon/rad_pulser/pass5_v9/{{ detector }}_hitSmearKill/rad_pulser_{{ job_id }}.slcio",
        "signal_pulser_recon.root": "hpstr/rad_pulser/pass5_v9/{{ detector }}_hitSmearKill/rad_pulser_{{ job_id }}.root"
    },
    "output_dir": "/sdf/data/hps/physics2021/mc/"
}
