{
    "run_params": "{{ run_params }}",
    "run_number": {{ run_number }},
    "detector": "{{ detector }}",
    "steering_files": {
        "evio_to_lcio": "/org/hps/steering/production/Evio2LcioCnv.lcsim",
        "overlay": "/org/hps/steering/readout/Overlay.lcsim",
        "readout": "/org/hps/steering/readout/PhysicsRun2021TrigSinglesWithPulserDataMerging.lcsim",
        "recon": "/org/hps/steering/recon/PhysicsRun2021MCRecon_KF_WithSpacing_pass3.lcsim"
    },
    "config_files": {
        "cnv": "recoTuple_cfg.py",
        "ana": "flatVtxTuple_cfg.py"
    },
    "is_data": 0,
    "year": 2021,
    "input_files": {
        "/sdf/data/hps/physics2021/mc/recon/rad_pulser/pass_v8beta/HPS_Run2021Pass1_v8beta_14272/rad_pulser_{{job_id}}.slcio": "signal_pulser.slcio"
    },
    "output_files": {
        "signal_pulser.root": "hpstr/rad_pulser/pass_v8beta/{{detector}}/rad_pulser_{{job_id}}.root",
        "signal_pulser_ana.root": "ana/rad_pulser/pass_v8beta/{{detector}}/preselected/rad_pulser_ana_{{run_params}}_{{detector}}_{{job_id}}.root"
    },
    "output_dir": "/sdf/data/hps/physics2021/mc/"
}
