{
    "run_params": "{{ run_params }}",
    "target_z": {{ target_z }},
    "beam_energy": {{ beam_energy }},
    "run_number": {{ run_number }},
    "detector": "{{ detector }}",
    "ecal_hit_ecut": {{ ecal_hit_ecut }},
    "is_data": 0,
    "steering_files": {
        "readout": "{{ steering_readout }}",
        "recon": "{{ steering_recon }}"
    },
    "config_files": {
        "recon": "recoTuple_cfg.py",
        "ana": "anaVtxTuple_cfg.py"
    },
    "year": {{ year }},
    "input_files": {
        "/fs/ddn/sdf/group/hps/mc/ap_beam/pulser_data/2pt3/HPS-PhysicsRun2016-Pass2/ap_pulser_spaced_{{ job_id }}": "ap_pulser.slcio"
    },
    "output_files": {
        "ap_pulser_readout.slcio": "readout/{{ run_params }}/{{ detector }}/ap_pulser_readout_{{job_id}}.slcio",
        "ap_pulser_readout_recon.slcio": "recon/{{ run_params }}/{{ detector }}/ap_pulser_readout_recon_{{job_id}}.slcio",
        "ap_pulser_readout_recon.root": "recon/{{ run_params }}/{{ detector }}/root/ap_pulser_readout_recon_{{job_id}}.root"
    },
    "output_dir": "/fs/ddn/sdf/group/hps/users/sgaiser/src/hps-mc/prod/slac/ap_beam/recon_pulser/pairTrig"
}
