{
    "run_params": "{{ run_params }}",
    "run_number": {{ run_number }},
    "detector": "{{ detector }}",
    "steering_files": {
        "evio_to_lcio": "/org/hps/steering/production/RandomTriggerFilter.lcsim",
        "overlay": "/org/hps/steering/readout/Overlay.lcsim",
        "readout": "/org/hps/steering/readout/PhysicsRun2019TrigSinglesWithPulserDataMerging.lcsim",
        "recon": "/org/hps/steering/recon/PhysicsRun2019MCRecon.lcsim"
    },
    "input_files": {
        "{{ input_files['ap'][0] }}": "signal_1.slcio",
        "{{ input_files['beam'][0] }}": "pulser.evio"
    },
    "output_files": {
        "signal_pulser_readout.slcio": "readout/ap_pulser_{{job_id}}.slcio",
        "signal_pulser_recon.slcio": "recon/ap_pulser_{{job_id}}.slcio"
    },
    "output_dir": "/sdf/group/hps/mc/ap_beam/pulser_data/{{run_params}}/{{detector}}"
}
